{% extends 'base.html.twig' %}

{% block content %}
    <h2>{{ 'subtitle.game_index'|trans }}</h2>

    <p class="attempts">
        {{ 'game.remaining_attempts'|transchoice(game.remainingAttempts) }}
    </p>

    <ul class="word_letters">
        {% for letter in game.wordLetters %}
            <li class="letter">
                {{ game.letterFound(letter) ? letter : '?' }}
            </li>
        {% endfor %}
    </ul>

    <br class="clearfix" />

    <p class="attempts">
        <a href="{{ path('game_reset') }}">{{ 'game.reset'|trans }}</a>
    </p>

    <br class="clearfix" />

    <h2>{{ 'game.try_letter'|trans }}</h2>

    <ul>
        {% for l in 'A'..'Z' %}
            <li class="letter">
                <a href="{{ path('game_play_letter', { letter: l }) }}">
                    {{ l }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>{{ 'game.try_word'|trans }}</h2>

    <form action="{{ path('game_play_word') }}" method="post">
        <p>
            <label for="word">{{ 'game.word'|trans }}</label>
            <input type="text" id="word" name="word"/>
            <button type="submit">{{ 'game.guess'|trans }}</button>
        </p>
    </form>
{% endblock %}
