<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ 'title.hangman'|trans }}{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div id="wrapper">

                {{ include('_includes/header.html.twig') }}

                <div id="page">
                    <div id="content">
                        {% block content %}{% endblock %}
                    </div>

                    {{ include('_includes/sidebar.html.twig') }}

                    <br class="clearfix" />
                </div>
            </div>
        {% endblock %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
