{% extends 'base.html.twig' %}

{% block title %} | {{ 'title.home'|trans }}{% endblock %}

{% block content %}
    <h2>{{ 'subtitle.home'|trans }}</h2>


    <form method="post">
        <label for="username">{{ 'app.username'|trans }}</label>
        <input type="text" id="username" name="player_username" value="" />

        <label for="password">{{ 'app.password'|trans }}</label>
        <input type="password" id="password" name="player_password" />

        <input type="hidden" name="player_csrf_token" value="{{ csrf_token('authenticate_player') }}">

        <button type="submit">{{ 'app.login'|trans }}</button>
    </form>
{% endblock %}
